/* ExamSubjects.module.css */
.hoverCard {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.hoverCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}